<div class="grid grid-column-2 grid-flow-col h-screen">
    <div class="text-white text-2xl text-start bottom-0 right-0 mt-40 ml-20">
        <h1 class="text-start text-8xl font-bold "> <strong> Desarrolladora de software </strong> </h1>
        <p class="text-start mt-10 font-light font-mono text-4xl ">Estudiante de ingeniería en desarrollo y gestión de
            software,
            nacida en Sonora, México.Aquí podrás ver mis proyectos realizados con un equipo de desarrollo universatario.
        </p>
        <div>
            <img class="ml-40" src="https://i.ibb.co/LSWNxfM/diseno-de-respuesta.png">
        </div>
    </div>
    <div>
        <img class="h-screen" src="https://i.ibb.co/F0Nk7Gx/Proyecto-Quitar-fondo.png">
    </div>

</div>
